credential*.json
construtora-cp/backend/images
dolibs
.terraform
.env

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
construtora-cp/dist
construtora-cp/tmp
construtora-cp/out-tsc
# Only exists if Bazel was run
construtora-cp/bazel-out

# dependencies
node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
construtora-cp/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
construtora-cp/.sass-cache
construtora-cp/connect.lock
construtora-cp/coverage
construtora-cp/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
construtora-cp/typings

# System Files
.DS_Store
Thumbs.db
