<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
        <mat-form-field appearance='fill'>
            <mat-label>Título para o Anúncio</mat-label>
            <input
                matInput
                type="text"
                formControlName="title">
                <mat-error *ngIf="form.get('title').invalid">Descreva uma chamada para o Anúncio</mat-error>
        </mat-form-field>

        <mat-form-field appearance='fill'>
            <mat-label>Preço do imóvel</mat-label>
            <input
                matInput
                type="text"
                formControlName="price">
                <mat-error *ngIf="form.get('price').invalid">Inserir o preço total do imóvel ou valor do aluguel</mat-error>
        </mat-form-field>

        <mat-form-field appearance='fill'>
            <mat-label>Cidade do imóvel</mat-label>
            <input
                matInput
                type="text"
                formControlName="city">
                <mat-error *ngIf="form.get('city').invalid">Cidade do imóvel</mat-error>
        </mat-form-field>

        <mat-form-field appearance='fill'>
            <mat-label>Logradouro</mat-label>
            <input
                matInput
                type="text"
                formControlName="address">
                <mat-error *ngIf="form.get('address').invalid">Inserir o preço total do imóvel ou valor do aluguel</mat-error>
        </mat-form-field>

        <mat-form-field appearance='fill'>
            <mat-label>Metragem do Terreno</mat-label>
            <input
                matInput
                type="text"
                formControlName="metragem">
                <mat-error *ngIf="form.get('metragem').invalid">Inserir o preço total do imóvel ou valor do aluguel</mat-error>
        </mat-form-field>

        <mat-form-field appearance='fill'>
            <mat-label>Quantidade de quartos</mat-label>
            <input
                matInput
                type="text"
                formControlName="rooms">
                <mat-error *ngIf="form.get('rooms').invalid">Descreva uma chamada para o Anúncio</mat-error>
        </mat-form-field>

        <mat-form-field appearance='fill'>
            <mat-label>Quantidade de banheiros</mat-label>
            <input
                matInput
                type="text"
                formControlName="baths">
                <mat-error *ngIf="form.get('baths').invalid">Inserir o preço total do imóvel ou valor do aluguel</mat-error>
        </mat-form-field>

        <mat-form-field appearance='fill'>
            <mat-label>Aceita Permuta</mat-label>
            <input
                matInput
                type="text"
                formControlName="permuta">
                <mat-error *ngIf="form.get('permuta').invalid">Cidade do imóvel</mat-error>
        </mat-form-field>

        <mat-form-field appearance='fill'>
            <mat-label>Tipo do imóvel (sobrado / chácara / ...)</mat-label>
            <input
                matInput
                type="text"
                formControlName="type">
                <mat-error *ngIf="form.get('type').invalid">Inserir o preço total do imóvel ou valor do aluguel</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance='fill'>
            <mat-label>Proprietário / Dono</mat-label>
            <input
                matInput
                type="text"
                formControlName="owner">
                <mat-error *ngIf="form.get('owner').invalid">Inserir o preço total do imóvel ou valor do aluguel</mat-error>
        </mat-form-field>

        <mat-form-field appearance='fill'>
            <mat-label>Contato Corretor / WhatsApp</mat-label>
            <input
                matInput
                type="text"
                ui-br-phone-number="areaCode"
                placeholder="(__) ____-____"
                formControlName="contact">
                <mat-error *ngIf="form.get('contact').invalid">padrão: 1599999999</mat-error>
        </mat-form-field>

        <mat-form-field appearance='fill'>
            <mat-label>Descrição detalhada do Imóvel</mat-label>
            <textarea 
                matInput
                rows="4"
                formControlName="description" 
                placeholder="Descrição do imóvel"></textarea>
                <mat-error *ngIf="form.get('description').invalid">Escreva uma mensagem</mat-error>
        </mat-form-field>

        <div>
            <button mat-stroked-button type="button"
            color="primary"
            (click)="filePicker.click()">Carregar Imagens</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
            <img [src]="imagePreview" [alt]="form.value.fileTitle">
        </div>
        
        <span class="spacer"></span>
        <button
            mat-raised-button
            color="accent"
            type="submit">Enviar
        </button>
    </form>
</mat-card>

