<mat-card>
    <mat-form-field appearance='fill'>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="enteredValue" required>
    </mat-form-field>
    
    <mat-form-field appearance='fill'>
        <mat-label>WhatsApp</mat-label>
        <input matInput [(ngModel)]="enteredValue" required>
    </mat-form-field>

    <mat-form-field appearance='fill'>
        <mat-label>Mensagem Opcional</mat-label>
        <textarea matInput [(ngModel)]="enteredValue"></textarea>
    </mat-form-field>

    <button
        mat-raised-button
        color="primary"
        (click)="onAddPost()">Save Post
    </button>

</mat-card>


