:host {
    display: block;
    margin-top: 1rem;
  }

  mat-panel-description {
    justify-content: space-between;
    align-items: center;
  }
  
  mat-spinner {
    margin: auto;
  }

  mat-paginator {
    margin-top: 1rem;
  }
  
  .info-text {
    text-align: center;
  }
  
  .post-image {
    width: 12%;
  }
  
  .post-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

  .example-card {
    width: 95%;
    margin: 40px;
  }

  .cards {
    width: 400px;
  }

  .card-header-image {
    background-image: url('../../../assets/imgs/house.png');
    background-size: cover;
  }

  .card-image {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .shadow {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

  .flex-card {
    display: inline-flex;
    flex-flow: row wrap;
    width: 200px;
    margin: 10px;
  }

  mat-paginator.mat-paginator.paginator--left {
    display: flex;
    justify-content: left;
    color: red;
  } 

  /* https://webdesign.tutsplus.com/tutorials/solving-problems-with-css-grid-and-flexbox-the-card-ui--cms-27468 */