<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body" *ngIf="!userIsAuthenticated">
      <div class="container has-text-centered">
        <div class="tile is-ancestor">
          <div class="tile is-vertical">
            <div class="tile">
              <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                  <div class="content">
                    <p class="title">Projetos e Construções</p>
                    <!-- <p class="subtitle">Nossos destaques</p> -->
                    <div class="content">
                    
                      <div class="container has-text-left">
                      <mat-accordion>
                        <mat-expansion-panel  (opened)="panelOpenState = true"
                                              (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Sobre a Empresa e Valores
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>A Carvalho Pereira conta com mais de 20 anos de experiência no segmento da construção civil , com o objetivo de melhor administrar sua obra , investir seu dinheiro de uma forma precisa e segura tudo com total transparência assim podendo garantir a satisfação dos nossos clientes.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Construção
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>Nós contamos com engenheiros qualificados e preparados para atendê-lo, aproveite e faça uma cotação sem compromisso entrando em contato conosco diretamente pelo whatsapp ou ligue.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel  (opened)="panelOpenState = true"
                                              (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Projetos
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>Que tal transformar sua idéia de imóvel em um projeto profissional contando com uma consultoria diferenciada!? Para mais detalhes ligue ou contate-nos através do whatsapp.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Reformas
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>Não se preocupe com nada e deixe tudo com a gente !! Garantimos otimizar a sua reforma prezando uma ótima qualidade e rapidez no serviço. Seja uma reforma pequena ou grande estamos preparados para melhor atendê -lo. Para mais detalhes ente em contato conosco.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel  (opened)="panelOpenState = true"
                                              (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Legalização de Imóveis
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>Você sabia que para vender um imóvel financiado é necessário legalizá-lo junto à prefeitura e ao cartório de imóveis? Fazemos o serviço completo ou em etapas:</p>
                            <ul>
                              <li>Legalização junto a prefeitura</li>
                                <li>Habite-se</li>
                                  <li>Averbação</li>
                            </ul>
                          <p>Solicite um orçamento sem compromisso.</p>
                        </mat-expansion-panel>
                      </mat-accordion>
                      </div>



                      
                    </div>
                  </div>
                </article>
                
              </div>

              <div class="tile is-parent is-vertical">                
                <article class="tile is-child notification is-primary box">
                  <div class="content">
                    <p class="title">TESTE LADO DIREITO</p>
                    <p class="subtitle">Olá
                    <span class="subtitle is-6 has-text-success-light">(testando aqui)</span></p>
                    
                      <figure>
                        <div style='position:absolute; top:1px; left:1px;'>
                          <img src='../../../assets/imgs/vend.png'>
                        </div>
                      </figure>
                      <figure class="image is-3by2">
                        <img src="../../../assets/imgs/front6.jpg">                        
                      </figure>
                  </div>
                </article>
              </div>

            </div>
          </div>
        </div>        
      </div>
    </div>
    
    <div class="hero-body">
      <div class="container has-text-left">
        <div class="tile is-ancestor">
          <div class="tile is-vertical">
            <div class="tile">
              <div class="tile is-parent" *ngFor="let item of posts">                      
                <article class="tile is-child notification is-info box">                  
                  <div class="content">
                    <p class="title" *ngIf="(item.diferencialOpt | uppercase) === 'DESTAQUE'">R$ {{ item.price }}</p>
                    <p class="title" *ngIf="(item.diferencialOpt | uppercase) === 'NENHUM'">R$ {{ item.price }}</p>
                    <p class="subtitle">{{ item.title }}
                    <span class="subtitle is-6 has-text-success-light">({{ item.refNumber }})</span></p>
                    
                      <figure *ngIf="(item.diferencialOpt | uppercase) === 'DESTAQUE'">
                        <div style='position:absolute; top:1px; left:1px;'>
                          <img src='../../../assets/imgs/vend.png'>
                        </div>
                      </figure>
                      <figure class="image is-3by2">
                        <img [src]="item.imagePath" [alt]="item.title">
                      </figure>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  