<mat-spinner *ngIf="isLoading"></mat-spinner>

<!-- align="end" -->
<div style="margin: 15px;" mat-dialog-actions
        *ngIf="userIsAuthenticated"
        routerLink="/adicionar" routerLinkActive="mat-accent">
    <button mat-raised-button
            color="accent">
            Adicionar Novo Anúncio!!!
    </button>
</div>

<mat-accordion
            multi="true"
            *ngIf="posts.length > 0 && !isLoading">
            <!-- *ngIf="posts.length > 0 && !isLoading && userIsAuthenticated"> -->
    <mat-expansion-panel *ngFor="let item of posts">
        <mat-expansion-panel-header>
            <mat-panel-title><h3>
                {{ item.title }} </h3>
            </mat-panel-title>
            <mat-panel-description>
                {{ item.refNumber }}
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
            
        </mat-expansion-panel-header>
        
        <h3>Fotos do Anúncio</h3>
        <div class="post-image">
            <img [src]="item.imagePath" [alt]="item.title">
        </div>
        <h3> Valor: </h3> {{ item.price }}
        <hr>
        <h3> Cidade: </h3> {{ item.city }}
        <hr>
        <h3> Logradouro </h3> {{ item.address }}
        <hr>
        <h3> Metragem </h3> {{ item.metragem }}
        <hr>
        <h3> Quartos </h3> {{ item.rooms }}
        <hr>
        <h3> Banheiros </h3> {{ item.baths }}
        <hr>
        <h3> Aceita Permuta: </h3> {{ item.permuta }}
        <hr>
        <h3> Tipo de Construção: </h3> {{ item.type }}
        <hr>
        <h3> Proprietário: </h3> {{ item.owner }}
        <hr>
        <h3> Contato: </h3> {{ item.contact }}
        <hr>
        <h3> Descrição do Imóvel: </h3> {{ item.description }}
        
        <mat-action-row *ngIf="userIsAuthenticated && userId === item.creator">
            <button 
                mat-button
                color="primary"
                [routerLink]="['/edit', item.id]">EDITAR</button>
            <button
                mat-fab
                color="warn" (click)="onDelete(item.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-action-row>

    </mat-expansion-panel>
</mat-accordion>

<!-- <div *ngIf="posts.length > 0 && !isLoading && !userIsAuthenticated">
    <div *ngFor="let item of posts">
        <mat-card class="flex-card shadow" *ngIf="posts.length > 0 && !isLoading">
            <mat-card-header>
                <div mat-card-avatar class="card-header-image shadow"></div>
                <mat-card-title>{{ item.title }}</mat-card-title>
                <mat-card-subtitle>{{ item.refNumber }}</mat-card-subtitle>
            </mat-card-header>
            <div>
                <img class="card-image" [src]="item.imagePath" [alt]="item.title">
            </div>
            <mat-card-content>
                <p>
                {{ item.description | slice:0:250 }}
                </p>
                <ul><li> R$ {{ item.price }}</li></ul>
                <ul><li>{{ item.city }}</li></ul>
                <ul><li>{{ item.metragem }}</li></ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button class="shadow" color="warn">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-stroked-button
                        color="primary">Compartilhar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">
        Nenhum Imóvel foi adicionado ainda!
    </p>
</div> -->

<!-- <mat-paginator
    [hidePageSize]="true"
    [length]="totalPosts"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="posts.length > 0">
</mat-paginator> -->

<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">
    Nenhum Imóvel foi adicionado ainda!
</p>
