:host {
    display: block;
    margin-top: 1rem;
  }

  mat-panel-description {
    justify-content: space-between;
    align-items: center;
  }
  
  mat-spinner {
    margin: auto;
  }

  mat-paginator {
    margin-top: 1rem;
  }
  
  .info-text {
    text-align: center;
  }
  
  .post-image {
    width: 12%;
  }
  
  .post-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

  .example-card {
    width: 95%;
    margin: 40px;
  }

  .cards {
    width: 400px;
  }

  .card-header-image {
    background-image: url('../../../assets/imgs/logo.png');
    background-size: cover;
  }

  .fa-whatsapp:before{
    /* content:url('../../../assets/imgs/whats.png');
    content: '';
    background-image:url("https://lh3.googleusercontent.com/-VPr8buUo47w/VjMsRPIzr-I/AAAAAAAAAL4/AYBtvlNCQiw/s64-Ic42/clouds_social_media_icons_set_64x64_0000_facebook.png"); */
    background-image:url('../../../assets/imgs/whats.png');
    background-size: cover;
    background-clip: padding-box;
    /* width:64px;
    height:64px;  
    display:inline-block; */
  
  }

  .whatsapp-logo {
    background-image: url('../../../assets/imgs/whats.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center-top;
    background-size: contain;
  }

  .card-image {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .shadow {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    /* height: 95%; */
  }

  
  .flex-card{
    flex-flow: row wrap;
    width: 280px;
    margin: 10px;
    display: block;
    margin-left:auto;
    margin-right:auto;
  }

  .mat-actions {
    display: block;
    margin-left:auto;
    margin-right:auto;
  }

  .mat-action-row {
    place-content: space-between;
  }

  /* .flex-card {
    display: inline-flex;
    flex-flow: row wrap;
    width: 200px;
    margin: 10px;
  } */
/* 
  .flex-card{
    width: 350px;
    height: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
  } */

  mat-paginator.mat-paginator.paginator--left {
    display: flex;
    justify-content: left;
    color: red;
  } 
  /* https://webdesign.tutsplus.com/tutorials/solving-problems-with-css-grid-and-flexbox-the-card-ui--cms-27468 */


  ul {
    list-style-type: none;
    width: 100%;
  }

  .ul1 {
    column-count: 2;
    justify-content: space-around;
  }

  /* https://astronautweb.co/snippet/font-awesome/ */
  /* li:before {
    /* content: icon;
    font-family: FontAwesome;
    content: "\f02d";    
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li
    width: 1.3em; /* same as padding-left set on li
  } */

  .container {
    position: relative;
  }

  .refspan {
    color: white;
    font: bold 16px/20px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    padding: 5px;
    border-radius: 3px;
  }

  .cima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .refspan:hover {
    padding: 7px;
    color: orange;
  }

  .local {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }

  .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.content { 
  padding: 8px; 
}

.content > mat-card { 
  width: 220px;
}